@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0.2;
	}
}

.round {
	flex: 1;
}

.round.--current {
	color: rgb(255, 255, 255)
}

.round.--last-of-half {
	border-right: 0.1rem solid var(--white);
}

.round-number {
	padding: 0.2rem 0;
	border-bottom: 0.2rem solid var(--white);
	font-size: 1.5rem;
}

.round-number.--ct {
	border-bottom-color: var(--counter-terrorists-border);
	color: var(--counter-terrorists-text);
}

.round-number.--t {
	border-bottom-color: var(--terrorists-border);
	color: var(--terrorists-text);
}

.reason img {
	display: block;
	height: 2rem;
	margin: 0.75rem auto;
}

.reason.--ct {
	filter: url(#counter-terrorists-fill-from-white-filter);
}

.reason.--t {
	opacity: 0;
}

.reason.--current {
	background: rgba(255, 255, 255, 0.4);
	aspect-ratio: 1;
	border-radius: 50%;
	width: 15px;
	height: 15px;

	position: relative;
	left: 11px;
	top: 15px;

	animation: myAnim 6s infinite linear;
}

.reason2 img {
	display: block;
	height: 2rem;
	margin: 0.75rem auto;
}

.reason2.--ct {
	opacity: 0;
}

.reason2.--t {
	filter: url(#terrorists-fill-from-white-filter);
}