/* 定义字体 */
@font-face {
    font-family: 'ziti2'; /* 主字体 */
    src: url("/hud/css/fonts/alibabasans.ttf") format("truetype");
}

@font-face {
    font-family: 'ziti3'; /* 备用字体 */
    font-weight: bold; /* 文字加粗 */
    src: url("/hud/css/fonts/fyt.ttf") format("truetype");
}

/* 定义根变量 */
:root {
    --primary-font-family: 'ziti3'; /* 主字体 */
    --fallback-font-family: 'ziti2'; /* 备用字体 */
    --fyt: 'ziti3';
    --font-family: var(--primary-font-family), var(--fallback-font-family); /* 默认字体堆叠 */
}