.team-grenades-wrapper {
	font-family: var(--fyt);
	width: var(--sidebar-team-grenades-width);
	max-height: calc(2.8rem + 0.5rem);
    position: relative;
	bottom: 5px;

	filter: var(--filter-drop-shadow);
	overflow: hidden;
	transition: max-height var(--fade-slow-duration) ease;
	align-items: center;

}

.team-grenades-wrapper:not(.--active) {
	max-height: 0;
}

.team-grenades-wrapper.--right {
	margin-left: auto;
	align-items: center;
}

.team-grenades-wrapper.--left {
    align-items: center;
}

.team-grenades {
	box-shadow: var(--box-shadow);
	display: flex;
	margin-bottom: 0.5rem;

	background-image: url('/hud/img/icons/bg4.svg'); /* 设置图片背景 */
	opacity: 100%;
	background-size: cover; /* 使背景图片覆盖整个元素 */
	background-position: bottom; /* 将背景图片居中 */
	background-repeat: no-repeat; /* 防止背景图片重复 */

	transition: transform var(--fade-slow-duration) ease;
	align-items: center;

	border-radius: 3px;

	border-top: 5px solid var(--counter-terrorists-fill-80);
}

.team-grenades.--right {
	border-top: 5px solid var(--terrorists-fill-80);
	flex-direction: row-reverse;
}

.team-grenades:not(.--active) {
	transform: translateY(101%);
}

.types {
	flex: 1;

	display: flex;
	align-items: center;
	justify-content: space-around;

	
	background: var(rgb(255, 255, 255, 1));
}

.total,
.smokegrenade,
.molotov,
.flashbang,
.hegrenade {
	display: flex;
	align-items: center;

	padding: 0.65rem 1rem;
	font-size: 1.5rem;
	transition: opacity var(--fade-default-duration) ease;
}

.smokegrenade:not(.--active),
.molotov:not(.--active),
.flashbang:not(.--active),
.hegrenade:not(.--active) {
	opacity: 0.5;
}

.total.--ct {
	background: var(--counter-terrorists-text-fill);
}

.total.--t {
	background: var(--terrorists-text-fill);
}

.total {
	display: grid;
	grid-template-columns: max-content 0fr;
	transition: grid-template-columns var(--fade-slow-duration) ease;
}

.total.--label-active {
	grid-template-columns: max-content 1fr;
}

.total .label-wrapper {
	overflow: hidden;
}

.total .label {
	padding-left: 0.25em;
}

.smokegrenade img.label,
.molotov img.label,
.flashbang img.label,
.hegrenade img.label {
	height: 1.5rem;
	margin-right: 0.75rem;
}
