.team-equipment-wrapper {
  width: var(--sidebar-team-equipment-width);
  max-height: 8rem;

  filter: var(--filter-drop-shadow);
  overflow: hidden;
  transition: max-height var(--fade-slow-duration) ease;
}

.team-equipment-wrapper:not(.--active) {
  max-height: 0;
}

.team-equipment-wrapper.--left {
  position: absolute;
  bottom: 20rem;
  left: 56rem;
}

.team-equipment-wrapper.--right {
  position: absolute;
  bottom: 20rem;
  right: 56rem;
}

.team-equipment-title {
  background-color: var(--counter-terrorists-fill-100);
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 5px 5px 0 0; /* 顶部圆角 */
}

.team-equipment-title.--t {
  background-color: var(--terrorists-fill-100);
}

.team-equipment {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--sidebar-vertical-spacing);
  padding: 0.5rem 1rem;

  text-align: center;
  transition: transform var(--fade-slow-duration) ease;

  border-radius: 0 0 10px 10px; /* 底部圆角 */
}

.team-equipment:not(.--active) {
  transform: translateY(101%);
}

.team-equipment.--ct {
  background: linear-gradient(to right, #2424249f, #2424249f);
  opacity: 100%;
  background-size: cover; /* 使背景图片覆盖整个元素 */
  background-position: bottom; /* 将背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  border-radius: 0 0 3px 3px; /* 底部圆角 */
}

.team-equipment.--t {
  background: linear-gradient(to right, #2424249f, #2424249f);
  opacity: 100%;
  background-size: cover; /* 使背景图片覆盖整个元素 */
  background-position: bottom; /* 将背景图片居中 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  border-radius: 0 0 3px 3px; /* 底部圆角 */
}

.team-equipment.--right {
  flex-direction: row-reverse;
}

.loss-bonus .label,
.team-money .label,
.equipment-value .label {
  margin-bottom: 0.4rem;

  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.loss-bonus .value,
.team-money .value,
.equipment-value .value {
  font-size: 1.75rem;
}

.loss-bonus .pips-and-value {
  display: grid;
  grid-template-columns: repeat(2, 6rem);
  grid-gap: 0.5rem;
}

.loss-bonus .pips {
  display: flex;
  align-items: center;
}

.loss-bonus .pips .pip {
  width: 0.6rem;
  height: 0.6rem;
  aspect-ratio: 1;
  border: 0.2rem solid var(--white);
  margin: 0.3rem;

  border-radius: 3px;
}

.loss-bonus .pips .pip.--filled {
  background: var(--white);
}
