.match-point-wrapper {
	max-height: var(--top-bar-row-height);
	position: relative;
	top: 0px;
	overflow: visible;
}

.match-point {
	height: var(--top-bar-row-height);

	font-family: var(--fyt);

	font-weight: 700;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	font-size: 2.25rem;

	background-image: url('/hud/img/icons/bg2.svg'); /* 设置图片背景 */
	opacity: 100%;
	background-size: cover; /* 使背景图片覆盖整个元素 */
	background-position: center; /* 将背景图片居中 */
	background-repeat: repeat; /* 防止背景图片重复 */

	top: 5px;
	border-top: 5px solid rgba(101, 5, 226, 0.85);
}

.match-point.--left {
	border-radius: 15px;
}

.match-point.--right {
	border-radius: 15px;
}