.name {
  font-family: var(--fyt); /* 默认字体堆叠 */
  grid-area: name;

  display: flex;
  align-items: center;

  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 1.7rem;

  color: rgba(255, 255, 255, 0.9);
}

.name.--right {
  text-align: right;
  justify-content: flex-end;
}
