.score {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.75rem;
  font-weight: 1500;
  position: relative;

  top: 5px; /* 向下偏移 5 像素 */
}

.score .inner {
  padding: var(--top-bar-padding-x) 0;
  min-width: 2.8ch;
  width: 100%;

  isolation: isolate;
  text-align: center;
  z-index: 1;
  opacity: 100%;
  position: relative;
  top: 2px; /* 向下偏移 5 像素 */
  font-weight: bold;
}

.score .map-wins {
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
}

.score.--left {
  color: var(--counter-terrorists-fill-100);
}

.score.--right {
  color: var(--terrorists-fill-100);
}

.score.--left .map-wins,
.score.--right .map-wins {
  left: 50%;
  transform: translateX(-50%);
}
