.name-row {
    display: grid;
    position: fixed;
    color: #fff; /* 字体颜色 */
    padding: 6px 11px; /* 内边距 */
    left: calc((100% - var(--focused-player-width)) / 2);
    right: calc((100% - var(--focused-player-width)) / 2);

    height: 53.5px;
    width: 320px;

    font-size: 17px; /* 字体大小 */
    background: rgba(75, 75, 75, 0.5);

    grid-template-columns: 50px 220px 50px; /* 修正列定义 */
    grid-template-areas:
        "armor player-name ammo";
    white-space: nowrap;
}

.name-row {
    transform: skewX(-6deg);
}

.grenades {
	display: flex;
	align-items: center;
	padding-right: 0.5rem;
}

.grenades {
	margin: 0 0.75rem;
}

.armor {
    grid-area: armor;
    display: flex;
}

.grenades {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 0.5rem;
}

.grenades .grenade {
	margin: 0 0.75rem;
}


img {
    height: 15px;
}

.roundkills {
	grid-area: round-kills;
	display: flex;
    align-items: center;
    text-align: center;
}



.player-name {
    grid-area: player-name;
    display: flex; /* 确保使用 flex 布局 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中（如果需要） */
    text-align: center; /* 确保文本内容也居中 */
    min-width: fit-content;
    font-size: 17px;

    font-weight: 900;

    position: relative;
    bottom: 3px;

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.health {
    grid-area: health;
    height: 1rem;
}

.ammo {
    grid-area: ammo;
    justify-content: center;
    text-align: center;
    display: flex;
    letter-spacing: 0ch;
    font-size: 16px;
}

.beidan {
    font-size: 13px;
    text-align: start;
    color: #bababa;
}

.noammo {
    font-size: 15px;
    text-align: start;
}

.ammo img {
    width: 20px;
}

.bod {
	grid-area: bod;

	display: flex;
	align-items: center;
	justify-content: center;
}

bod img {
	height: 3rem;
	transition: opacity var(--fade-fast-duration) ease;
}

bod img.bomb:not(.--active) {
	opacity: 0.5;
}


/* 添加震动动画 */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake {
    animation: shake 0.5s;
}

