@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

img.paused-icon,
img.planted-bomb-icon {
  height: 2rem;
  margin: 0.125rem 0;
}

.clock {
  font-size: 3rem;
}

.clock.--red {
  animation: myAnim 3s infinite forwards;
}

img.bombsite-icon {
  height: 1.75rem;
  margin-left: 0.75rem;
}

.bomb {
  height: 2.25rem;

  animation: myAnim 6s infinite forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
