<div class="series-graph-wrapper">
	<div :class="['series-graph']">
		<!-- 新添加的显示地图名字的容器 -->
		<div class="map-names-container">
			<div class="map-names-background" :data-map-count="seriesMapNumbers.length">
				<div v-for="mapNumber in seriesMapNumbers" :key="mapNumber" class="map-item">
					<div class="map-info">
						<!-- 使用 v-if 条件渲染 -->
						<img
						v-if="!isDecider(mapNumber)"
						:class="['logo', positionClass, colorClass, { '--active': logoImageLoaded }]"
						:src="`/hud/team-logos/${$opts[`series.maps.${mapNumber}.pickTeam`]}.png`"
						alt=""
						@load="handleImageLoad"
						@error="handleImageError"
						>
						<div v-if="isDecider(mapNumber)" class="decider-logo-placeholder">*</div>
						<span :class="{ 'current-map': isCurrentMap(mapNumber) }">{{ formatMapName($opts[`series.maps.${mapNumber}.name`]) }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>