.newmoney {
	grid-area: newmoney;
	align-self: center;
	font-size: 1.8rem;
	color: var(--sidebar-player-money-text);

	align-self: center;
	align-items: center;
	justify-content: start;
	justify-self: start;

	padding-left: 3.25rem;
}

.newmoney.--right {
	text-align: center;
	padding-left: 0rem;
	padding-right: 3.25rem;
	justify-content: end;
	justify-self: end;
}
