@font-face {
    font-family: 'ziti2'; /* 主字体 */
    src: url("./fyt.ttf") format("truetype");
	font-weight: bold;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
}

html {
	color: #ffffff;
	font-family: 'ziti2', sans-serif; /* 默认字体堆叠 */
	background: black;
	line-height: 1.6;
}

body {
	min-height: 100vh;
	padding: 20px;
}