.kda-wrapper {
  display: grid;
  grid-template-columns: 35px 35px 0.85fr 1fr; /* 为 rk 列分配更大的宽度 */
  grid-template-areas: 'bod rk kills grenades';
  justify-content: start;
  align-items: center;
  gap: 1rem;

  z-index: -1;

  width: 320px;
  height: 15px;

  border-top: 4px solid rgba(255, 255, 255, 0.4); /* 添加描边效果 */
}

.kills {
  display: flex; /* 确保子元素使用弹性布局 */
  align-items: center; /* 图标与文字对齐 */
  padding-left: 25px;

  font-size: 17px;
}

.rk {
  display: flex; /* 确保子元素使用弹性布局 */
  align-items: center; /* 图标与文字对齐 */
}

img {
  width: 20px; /* 根据需要调整图像大小 */
  padding-right: 0.3rem;
}

.deaths img {
  width: 15px;
}

.bod {
  grid-area: bod;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bod img {
  height: 3rem;
  transition: opacity var(--fade-fast-duration) ease;
}

.bod img.bomb:not(.--active) {
  opacity: 0.5;
}

.op0 {
  opacity: 0;
}

.grenades {
  display: flex;
  align-items: center;
  align-self: center;
  padding-left: 15px;
  transition: all 1s;
}

.grenades .grenade img:not(.--active) {
  opacity: 0.5;
}

.grenades .grenade img {
  height: 2rem;

  margin-right: 2px;
}
