<div :class="['newhealth', colorClass, positionClass]">
  <div
    v-if="player.isAlive"
    :class="['newhea1th', colorClass, positionClass, { 'low': player.health < 25 }]"
  >
    <Digits digits="2" :value="player.health" />
  </div>
  <div v-else="player.isAlive" :class="['round-damage']">
    <div class="title">ROUND DMG &nbsp;</div>
    <div class="dig">{{ player.roundDamage }}</div>
  </div>
  <div v-if="player.hasArmor || player.hasHelmet" class="newarmor">
    <img v-if="player.hasHelmet" src="/hud/img/icons/armor-helmet.svg" alt="" />
    <img v-else src="/hud/img/icons/armor.svg" alt="" />
  </div>
</div>
