.adr {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  font-size: 1.5rem;
}

.label {
  margin-right: 0.25em;
}

.label.--ct {
  color: var(--white);
}

.label.--t {
  color: var(--white);
}

.value {
  min-width: 2ch;
  text-align: right;
}
