.round-graph {
	display: flex;
	position: absolute;
	left: calc((100% - 600px) / 2);
    right: calc((100% - 600px) / 2);
    bottom: 25rem;
	filter: var(--filter-drop-shadow);
	overflow: hidden;
	width: 600px;

	background: #141414b8;
	text-align: center;
	border-radius: 5px;

	transition: opacity var(--fade-slow-duration) ease;
}

.round-graph:not(.--active) {
	opacity: 0;
  }
