.player-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto; /* 确保每行的高度自动调整 */
	grid-gap: 5px;
	grid-template-areas:
		'player'
}
.player {
	transition: transform 0.5s ease;

	grid-area: player;
	display: grid;
	position: relative; /* 设置相对定位，以便伪元素可以相对于它定位 */
	filter: var(--filter-drop-shadow);
	font-size: 1.7rem;
	overflow: visible; /* 防止伪元素内容溢出 */
	z-index: 1; /* 确保内容在伪元素上方 */

	height: 105px;
	width: 260px;

	background: rgba(70, 70, 70, 0.9);

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr 1fr; /* 确保每行的高度自动调整 */
	grid-template-areas:
		'newhealth'
		'newname'
		'newkd'
		'newmoney';
  }

.bodyshot {
	position: absolute;
	z-index: 0; /* 确保bodyshot在newname和newhealth的下方 */
	bottom: 1px;
	left: 100px;

	width: 90px;
	height: 90px;

	align-items: center;
	justify-content: center;
	align-self: center;
}

.bodyshot.--right {
	position: absolute;
	left: unset;
	right: 100px;
}

.bodyshot.dead img {
	filter: contrast(0%);
}

.bodyshot img {
	width: 90px;
	height: 90px;

	align-items: center;
	justify-content: center;
	align-self: center;

	opacity: 0.9;
}

.player.--focused {
	outline: 2px solid white;
}

.player.--focused.dead {
	outline: none;
}

.player.last-man-standing.dead {
	opacity: 0;
}

.player.dead {
	transition: all 1.5s;
	opacity: 0.9;

	border-radius: 5px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.player.--right.dead {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

.player.--left {
	padding: 0;
}

.player.--right {
	padding: 0;
}

.player.--right.dead {
	right: 0px;
}

.round-kills {
    grid-area: round-kills;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 5px; /* 调整top值，使round-kills位于newname上方 */
    left: 38%; /* 水平居中 */
}

.round-kills.--right {
    justify-content: flex-end;
	left: 0; /* 水平居中 */
	right: 38%; /* 水平居中 */
}

img.label {
    height: 1.75rem;
    margin-right: 0.25rem;
}

.value {
    font-size: 1.6rem;
}

.bomb-or-defuser {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 5px; /* 调整top值，使round-kills位于newname上方 */
    right: 5px; /* 水平居中 */
}

.bomb-or-defuser.--ct {
    position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 5px; /* 调整top值，使round-kills位于newname上方 */
    left: 5px; /* 水平居中 */	
}

.bomb-or-defuser img {
    height: 1.75rem;
    margin-right: 0.25rem;

	padding: 3px 3px;
}

.newname {
	z-index: 150;
}

.newhealth {
	z-index: 150;
}

.primary img {
	height: 2rem;
}

.secondary img {
	height: 2rem;
}

.primary {
	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 53px; /* 调整top值，使round-kills位于newname上方 */
    right: 8px; /* 水平居中 */
}

.secondary {
	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 30px; /* 调整top值，使round-kills位于newname上方 */
    right: 12px; /* 水平居中 */
}

.grenades {
	grid-area: grenades;

	display: flex;
	align-items: center;
	padding-right: 0.2rem;

	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 5px; /* 调整top值，使round-kills位于newname上方 */
    right: 5px; /* 水平居中 */
}

.primary.--t {
	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 53px; /* 调整top值，使round-kills位于newname上方 */
    left: 8px; /* 水平居中 */
}

.secondary.--t {
	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 30px; /* 调整top值，使round-kills位于newname上方 */
    left: 12px; /* 水平居中 */
}

.primary.--t img {
	transform: rotateY(180deg);
}

.secondary.--t img {
	transform: rotateY(180deg);
}

.grenades.--t {
	grid-area: grenades;

	display: flex;
	align-items: center;
	padding-right: 0.2rem;

	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 5px; /* 调整top值，使round-kills位于newname上方 */
    left: 5px; /* 水平居中 */
}

.grenades .grenade {
	margin: 0 0.6rem;
}

.grenades .grenade img {
	height: 1.7rem;
	transition: opacity var(--fade-fast-duration) ease;
}

.grenades .grenade img:not(.--active) {
	opacity: 0.5;
}


.armor {
	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 27px; /* 调整top值，使round-kills位于newname上方 */
    left: 5px; /* 水平居中 */

	width: 1.75rem;
}

.armor.--t {
	padding-right: 0.2rem;

	position: absolute; /* 将round-kills设置为绝对定位 */
    bottom: 27px; /* 调整top值，使round-kills位于newname上方 */
	left: unset;
    right: 5px; /* 水平居中 */
}

.armor img {
	height: 1.75rem;
}