<div :class="['player-wrapper', positionClass, {'dead': !player.isAlive}, {'--focused': player.isFocused}]">
	<div :class="['player', positionClass, { dead: !player.isAlive }, {'--focused': player.isFocused}, { 'low': player.health < 25 },  { 'last-man-standing': isLastManStanding }]">  
		
        <div :class="['bodyshot', positionClass, colorClass, {'dead': !player.isAlive}]">
			<img
			:class="['logo', positionClass, colorClass, { '--active': logoImageLoaded }]"
			:src="getPlayerLogoUrl(player.name)"
			alt=""
			@error="handleImageError"
			@load="logoImageLoaded = true"
		>
		</div>

		
		<div v-if="player.roundKills" :class="['round-kills', positionClass]">
			<img src="/hud/img/icons/hs.svg" alt="" class="label">
			<div class="value">{{ player.roundKills }}</div>
		</div>	

		<div :class="['bomb-or-defuser', positionClass, colorClass]">
			<Transition name="fast" mode="out-in">
				<img v-if="player.hasDefuser" src="/hud/img/weapons/defuser.svg" alt="" class="defuser">
				<img v-else-if="player.hasBomb" src="/hud/img/weapons/c4.svg" alt="" :class="['bomb', { '--active': isBombActive }]">
			</Transition>
		</div>

		<Transition mode="out-in">
			<div v-if="player.isAlive && player.primary" :class="['primary', positionClass, colorClass]">
				<img :src="iconUrl" alt="" :class="{ '--active': player.primary.isActive }">
			</div>
		</Transition>

		<Transition mode="out-in">
			<div v-if="player.isAlive && player.secondary" :class="['secondary', positionClass, colorClass]">
				<img :src="siconUrl" alt="" :class="{ '--active': player.secondary.isActive }">
			</div>
		</Transition>

		<div v-if="player.isAlive" :class="['grenades', positionClass, colorClass]">
			<div v-for="grenade of grenades" :key="grenade.key" class="grenade">
				<img :src="grenade.iconUrl" alt="" :class="{ '--active': grenade.isActive }">
			</div>
		</div>

		<div v-if="player.hasArmor || player.hasHelmet" :class="['armor', positionClass, colorClass]">
			<img v-if="player.hasHelmet" src="/hud/img/icons/armor-helmet.svg" alt="">
			<img v-else src="/hud/img/icons/armor.svg" alt="">
		</div>		

		
	  <newname :player="player" :position="position" />
	  <newhealth :player="player" :position="position" />
	  <newkd :player="player" :position="position" />
	  <newmoney :player="player" :position="position" />
	  <healthbar :player="player" :position="position" />
	</div>
<!--
	<div :class="['utility', positionClass, { dead: !player.isAlive },]">  
		<primary :player="player" :position="position" />
		<div v-if="player.isAlive" :class="['grenades', positionClass]">
			<div v-for="grenade of grenades" :key="grenade.key" class="grenade">
				<img :src="grenade.iconUrl" alt="" :class="{ '--active': grenade.isActive }">
			</div>
		</div>
	  </div>
-->
	</div>