.top-bar {
	position: fixed;
	top: var(--viewport-margin-top);
	left: calc((100% - var(--top-bar-width)) / 2);
	right: calc((100% - var(--top-bar-width)) / 2);

	display: grid;
	grid-template-columns: 20.2fr 14.2fr 20.2fr;
	grid-template-rows: 5fr;
	grid-template-areas:
		'team-left center team-right';
	align-items: start;

	filter: var(--filter-drop-shadow);
	text-align: center;

	column-gap: 5px !important;
}