.newkd {
	grid-area: newkd; /* 确保与 player.--left 的 grid-template-areas 一致 */
	display: grid;
	text-align: center;
	grid-template-columns: 0.3fr 0.3fr;
	grid-template-rows: repeat(1, 1fr);
    grid-gap: 8px;
    grid-template-areas: 
    'newkills newdeaths';

   align-self: center;
   align-items: center;
   justify-content: start;
   justify-self: start;

   padding-left: 3rem;
   
   font-size: 17px;
}

.newkd.--t {
	padding-left: 0;
	padding-right: 3rem;

	justify-content: end;
	justify-self: end;	
}

.newkills {
	grid-area: newkills;
	display: flex;
	align-items: center;
	justify-content: center; /* 水平居中 */
    gap: 0.2rem;
}

.newdeaths {
	grid-area: newdeaths;
	display: flex;
	align-items: center;
	justify-content: center; /* 水平居中 */
    gap: 0.2rem;
}

.assists {
	grid-area: assists;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

.newkills img {
	width: 15px; /* 根据需要调整图像大小 */
}

.newdeaths img {
	width: 15px;
}

.assists img{
	width: 13px
}
